.cardShow{
    display: block;
    margin-left: 4%;
}

.cardHide{
    display: none;
}

article {
    display:flex;
    flex-direction:column;
    margin: 15px;
    background-color: rgba(22, 20, 20, 0.541);
    width:20rem;
    border-radius: 7%;
}

.artistInfo {
    display:flex;
    justify-content: flex-start;
}

.cardInfo {
    display:flex;
    flex-direction:column;
    font-family: 'Antonio';
    margin-left: 4%;
    margin-top: 4%;
}

.cardNavigation {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    border-radius: 7%;
    margin-left: 4%;
    margin-top: 3%;
    width: 91%;
}

.cardImage {
    width:100%;
}

.cardArtistImage {
    border-radius:50%;
}

.card:hover{
    box-shadow: 0rem 0rem 10px 8px rgb(75, 73, 73);
 }

.cardMain{
        border-radius: 7%;
        background-color: rgba(22, 20, 20, 0.541);
}

.cardTitle{
    font-family: 'Antonio';
    margin-left: 4%;
    font-size: 144%;
}

.cardDescription{
    margin-left: 5%;
}

.more:hover{
    text-decoration: underline;
    cursor: pointer;
}