.cardShow{
    display: block;
    margin-left: 4%;
}

.cardHide{
    display: none;
}

article {
    display:flex;
    flex-direction:column;
    margin: 15px;
    background-color: rgba(22, 20, 20, 0.541);
    width:20rem;
    border-radius: 7%;
}

.gridCard {
    display:flex;
    flex-direction:column;
}

.gridCard .cardImage {
    width:100%
}

.colCard {
    display:flex;
    flex-direction:row;
    box-sizing: border-box;
    width:100%;
    align-items:center;
 
}
.cardText{
    display: flex;
    flex-direction:row;
    width:85%;
    justify-content: space-between;
    box-sizing: border-box;
}
.colCardMain{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.colCard .cardImage {
    width: 30%
}

.colCard .cardInfo{
    display: flex;
    flex-direction: row;
    margin-top: 0;
    width: 50%;
}

.colCard .artistInfo{
    width: 43%;
}

.colCard .cardShow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 45%;
}

.colCard .cardShow .info{
    width: 43%;
    font-size: 81%;
    margin-right: 1%;
}


.artistInfo {
    display:flex;
    justify-content: flex-start;
}

.cardInfo {
    display:flex;
    flex-direction:column;
    font-family: 'Antonio';
    margin-left: 4%;
    margin-top: 4%;
}



.cardNavGrid {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    border-radius: 7%;
    margin-left: 4%;
    margin-top: 3%;
    width: 91%;
}

.cardNavCol {
    display:flex;
    flex-direction:column;
}


.cardArtistImage {
    border-radius:50%;
}

.card {
    transition: 0.4s;
}

.card:hover{
    box-shadow: 0rem 0rem 10px 8px rgb(75, 73, 73);
 }

.cardMain{
        border-radius: 10%;
        background-color: rgba(22, 20, 20, 0.541);
}

.cardTitle{
    font-family: 'Antonio';
    margin-left: 4%;
    font-size: 144%;
}

.cardDescription{
    margin-left: 5%;
}

.more:hover{
    text-decoration: underline;
    cursor: pointer;
}