.cardShow{
    display: block;
}

.cardHide{
    display: none;
}

article {
    display:flex;
    flex-direction:column;
    margin: 15px;
    border: solid rgb(196, 196, 196);
    width:20rem;
}

.artistInfo {
    display:flex;
    justify-content: flex-start;
}

.cardInfo {
    display:flex;
    flex-direction:column;
}

.cardNavigation {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.cardImage {
    width:100%;
}

.cardArtistImage {
    border-radius:50%;
}

.card:hover{
    box-shadow: 0rem 0rem 10px 8px black;
    }

