.bodyButton {
    width:100%;
    display:flex;
    justify-content: flex-end;
}

.bodyContainer {
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: flex-start;
}

main {
    background-color: rgb(41, 41, 41);
    color:white;
}

.cardInfo {
    display:flex;
    flex-direction:row;
}

.bodyCargarMas{
    margin-right: 4%;
    margin-top: 1.3%;
    margin-bottom: 0.5%;
}