.bodyButton {
    width:100%;
    display:flex;
    margin-bottom: 1%;
    justify-content: flex-end;
}

.bodyContainerGrid {
    width:100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
    align-items: flex-start;
}

.bodyContainerCol {
    width:100%;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content:center;
    align-items: flex-start;
}

main {
    background-color: rgb(41, 41, 41);
    color:white;
}

.cardInfo {
    display:flex;
    flex-direction:row;
}

.bodyCargarMas{
    margin-right: 4%;
    margin-top: 1.3%;
    margin-bottom: 0.5%;
    width: 14%;
    font-size: medium;
    font-family: 'Antonio';
}

.logo{
    width: 17%;
}

header {
    width:100%;
    display:flex;
    flex-direction:row;
    background-color: #E53097;
    color:white;
    justify-content:space-between;
    align-items:center;
}

.header-items {
    width:100%;
    display:flex;
    flex-direction:row;
    background-color:#E53097;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2%;
}

.filter-items{
    margin-right: 6%;
    font-family: 'Antonio';
}

.filter-items:hover{
    cursor: pointer;
}

.fa-window-close:before {
    content: "\f410";
    cursor: pointer;
}

.bodyCargarMas:hover{
    cursor:pointer
}